.div-full-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.div-contains-rest-of-screen {
  flex-grow: 1;
}

.div-todos-section {
  display: flex;
  flex-direction: column;
}
